
  
  /* Override Bootstrap Colors */
  
  /* Primary Color */
  .bg-primary, .btn-primary {
      background-color: #0f221c !important;
      border-color: #0f221c !important;
      color: #ffffff !important;  /* Use white text for better contrast */
  }
  
  /* Secondary Color */
  .bg-secondary, .btn-secondary {
      background-color: #a8933f !important;
      border-color: #a8933f !important;
      color: #ffffff !important;  /* Use white text for better contrast */
  }
  
  /* Success Color */
  .bg-success, .btn-success {
      background-color: #f3bf47 !important;
      border-color: #f3bf47 !important;
      color: #000000 !important;  /* Use black text for better contrast */
  }
  
  /* Info Color */
  .bg-info, .btn-info {
      background-color: #616131 !important;
      border-color: #616131 !important;
      color: #ffffff !important;  /* Use white text for better contrast */
  }
  
  /* Warning Color */
  .bg-warning, .btn-warning {
      background-color: #0c4630 !important;
      border-color: #0c4630 !important;
      color: #ffffff !important;  /* Use white text for better contrast */
  }
  
  nav svg {
    fill: white;
    width: 25px;
    height: 25px;
  }
  /* Customized Sidebar */
  
  
  .sidebar .nav-link i {
    color: #f3bf47;  /* SVG icon color */
    margin-right: 8px;
  }
  
  /* Overall Page Styles */
  
  body {
    background-color: #f0f0d0;  /* Lighter shade of #616131 */
    color: #333;  /* General font color for the body */
  }
  
  /* Customized Sidebar */
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #0f221c;  /* Updated */
    color: #a8933f;  /* Font color for sidebar */
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar .nav-link {
    color: inherit;  /* Inherits color from .sidebar */
    font-size: 18px;
    padding: 15px;
    display: block;
    white-space: nowrap;
  }
  
  .sidebar .nav-link.active {
    background-color: #f3bf47;  /* Updated */
    color: #000000;  /* Use black text for better contrast */
  }
  
  .sidebar .nav-link i {
    margin-right: 8px;
  }
  
  .sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);  /* Kept unchanged */
  }
  
  .sidebar .mt-auto {
    margin-top: auto;
  }